client/node_modules
server/node_modules
socket/node_modules

client/notepad.txt


# server/.env
# server/package.json
# server/package-lock.json

# client/.env
# client/package.json
# client/package-lock.json
# client/tailwind.config.js

# client/src/App.js
# client/src/features




