client/node_modules
client/notepad.txt


server/.env
server/package.json
server/package-lock.json

client/.env
client/package.json
client/package-lock.json
client/src/App.js
client/tailwind.config.js




